.ppc_logo_newpasswordconfirmation {
  text-align: center;
  width: 20%;
  height: 63.92px;
  margin-top: 15%;
  margin-bottom: 2%;
}
@media only screen and (max-width: 2560px) {
  .ppc_logo_newpasswordconfirmation {
    text-align: center;
    width: 20%;
    height: 70.92px;
    margin-top: 15%;
    margin-bottom: 2%;
  }
  .resetpasswordconfirmationbutton {
    margin-top: 25% !important;
  }
}
@media only screen and (max-width: 2220px) {
    .ppc_logo_newpasswordconfirmation {
      text-align: center;
      width: 20%;
      height: 70.92px;
      margin-top: 15%;
      margin-bottom: 2%;
    }
    .resetpasswordconfirmationbutton {
      margin-top: 42% !important;
    }
  }
.mainpassword_comp {
  width: 100%;
}

.main_pconfirmation {
  text-align: center;
}

.passwordconfirmation_maindiv {
  width: 100%;
  height: 400px;

  background: #ebebeb;
}

.resetpasswordconfirmationbutton {
  background: #3b50c8;
  border: 1px solid #5869cb;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px #5869cb;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 40%;
  color: #ffffff;
  width: 50%;
  height: 50px;
}

.resetpasswordconfirmationbutton:hover {
  background: #3b50c8;
  border: 1px solid #5869cb;
  border-radius: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #ffffff;
  width: 100%;
  height: 50px;
}
